@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
font-family: 'Press Start 2P';
cursor: pointer;
transition: 0.2s;
}


.start-button:hover, .records-button:hover {
background: red;
color: black;
}


/* Викинг */
.viking-animation-container {
position: absolute;
z-index: 999;
}


.viking-jumping {
animation: jump 0.8s ease-in-out;
}


@keyframes jump {
0%, 100% { transform: translateY(0); }
50% { transform: translateY(-225px); }
}


/* Скелеты */
.skeleton-container {
position: absolute;
z-index: 998;
}


/* Game Over */
.game-over-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1000;
}


.game-over-text {
font-size: 3rem;
color: red;
margin-bottom: 20px;
}


.restart-button {
background: black;
color: red;
border: 3px solid red;
padding: 20px 40px;
font-family: 'Press Start 2P';
cursor: pointer;
}